<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="muftahov_eyesEntities" connectionString="metadata=res://*/Muftahov_glazkiModel1.csdl|res://*/Muftahov_glazkiModel1.ssdl|res://*/Muftahov_glazkiModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STUD231-10\SQLEXPRESS;initial catalog=muftahov_eyes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>